.bgGreen {
    background-color: #93C54B;
}

.navDeco {
    color: #93C54B;
    background-color: white;
}

.bgGray {
    background-color: rgb(218, 214, 214);
}
.changeColorInNav:hover {
    background-color: #93C54B;
    border-radius: 15px;
}

.fontFooter {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #339c02;

}

.textStyle {
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}